// Resets
@import "base/reset";
@import "base/myreset";

// Variables
@import "abstracts/variables";

// Typography
@import "base/typography";

//Buttons
@import "components/buttons";

// Grid
@import "layouts/grid";

/* Table of Contents
    
    1. Global Styles

    2. Typography
       2.1 A-Tag Links
    
    3. Layouts

    4. Components
       4.1 Buttons
       4.2 Cards

    5. Media Query

    6. Utility
 */

/*=============
   Global Styles
   =============*/

body {
  background-color: #2249db;
  font-family: "Inria Sans", sans-serif;
  font-size: 16px;
}

/*=============
   Typography
   =============*/

h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  font-weight: 700px;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  line-height: 32px;
}

p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.section-3-p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.section-3-h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.section-3-h2-secondary {
  font-size: 56px;
  color: #fff;
}

.section-4-h5 {
  color: $COLOR_PRIMARY;
}

.section-4-h5-secondary {
  letter-spacing: 1px;
  color: $FONT_COLOR_LIGHT_GREY;
  font-size: 16px;
  line-height: 55px;
}

.section-4-p {
  font-size: 16px;
  color: $FONT_COLOR_LIGHT_GREY;
}

/*=============
   Layouts
   =============*/

/*=============
   Components
   =============*/

/*=============
   Media Query
   =============*/

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .order-1-utility {
    order: 0;
  }

  .order-0-utility {
    order: 1;
  }
  #testimonials-container {
    .column {
      padding: 15px 15px;
    }
  }

  .section-3-p {
    max-width: 300px;
  }
}
/*=============
   Utility
   =============*/
