.h1 {
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 900;
}

.h2 {
  font-size: 3.5em;
  line-height: 1.25em;
  font-weight: 900;
}

.h3 {
  font-size: 3em;
  line-height: 1.18em;
  font-weight: 900;
}

.h4 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 900;
}

.h5 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 900;
}

.h6 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 900;
}

.h1--regular {
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 400;
}

.h2--regular {
  font-size: 3.5em;
  line-height: 1.25em;
  font-weight: 400;
}

.h3--regular {
  font-size: 3em;
  line-height: 1.18em;
  font-weight: 400;
}

.h4--regular {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.h5--regular {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
}

.h6--regular {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.bold-large {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: 700;
}

.bold-medium {
  font-size: 1.4em;
  line-height: 1.14em;
  font-weight: 700;
}

.bold-small {
  font-size: 1.1em;
  line-height: 1.45rem;
  font-weight: 700;
}

.p {
  font-size: 2em;
  line-height: 1.6em;
  font-weight: 400;
}

.regular-large {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: 400;
}

.regular-medium {
  font-size: 1.4em;
  line-height: 1.14em;
  font-weight: 400;
}

.regular-small {
  font-size: 1.1em;
  line-height: 1.45em;
  font-weight: 400;
}
