/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

a {
  text-decoration: none;
}

.h1 {
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 900;
}

.h2 {
  font-size: 3.5em;
  line-height: 1.25em;
  font-weight: 900;
}

.h3 {
  font-size: 3em;
  line-height: 1.18em;
  font-weight: 900;
}

.h4 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 900;
}

.h5 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 900;
}

.h6 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 900;
}

.h1--regular {
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 400;
}

.h2--regular {
  font-size: 3.5em;
  line-height: 1.25em;
  font-weight: 400;
}

.h3--regular {
  font-size: 3em;
  line-height: 1.18em;
  font-weight: 400;
}

.h4--regular {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.h5--regular {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
}

.h6--regular {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.bold-large {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: 700;
}

.bold-medium {
  font-size: 1.4em;
  line-height: 1.14em;
  font-weight: 700;
}

.bold-small {
  font-size: 1.1em;
  line-height: 1.45rem;
  font-weight: 700;
}

.p {
  font-size: 2em;
  line-height: 1.6em;
  font-weight: 400;
}

.regular-large {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: 400;
}

.regular-medium {
  font-size: 1.4em;
  line-height: 1.14em;
  font-weight: 400;
}

.regular-small {
  font-size: 1.1em;
  line-height: 1.45em;
  font-weight: 400;
}

.btn--primary {
  background-color: #176bfb;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--success {
  background-color: #3ca455;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--warning {
  background-color: #e67337;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--error {
  background-color: #c84040;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--dark--grey {
  background-color: #ccced0;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--medium--grey {
  background-color: #ececee;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--light--grey {
  background-color: #f6f6f9;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--primary--btn_icons {
  background-color: #176bfb;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--success--btn_icons {
  background-color: #3ca455;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--warning--btn_icons {
  background-color: #e67337;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--error--btn_icons {
  background-color: #c84040;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--dark--grey--btn_icons {
  background-color: #ccced0;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--medium--grey--btn_icons {
  background-color: #ececee;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--light--grey--btn_icons {
  background-color: #f6f6f9;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.row .row {
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  padding: 0 15px;
  width: 100%;
  margin-top: 30px;
}

.column-1 {
  width: calc(1 / 12 * 100%);
}

.column-2 {
  width: calc(2 / 12 * 100%);
}

.column-3 {
  width: calc(3 / 12 * 100%);
}

.column-4 {
  width: calc(4 / 12 * 100%);
}

.column-5 {
  width: calc(5 / 12 * 100%);
}

.column-6 {
  width: calc(6 / 12 * 100%);
}

.column-7 {
  width: calc(7 / 12 * 100%);
}

.column-8 {
  width: calc(8 / 12 * 100%);
}

.column-9 {
  width: calc(9 / 12 * 100%);
}

.column-10 {
  width: calc(10 / 12 * 100%);
}

.column-11 {
  width: calc(11 / 12 * 100%);
}

.column-12 {
  width: calc(12 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .column-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .column-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .column-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .column-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .column-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

/* Table of Contents
    
    1. Global Styles

    2. Typography
       2.1 A-Tag Links
    
    3. Layouts

    4. Components
       4.1 Buttons
       4.2 Cards

    5. Media Query

    6. Utility
 */
/*=============
   Global Styles
   =============*/
body {
  background-color: #2249db;
  font-family: "Inria Sans", sans-serif;
}

/*=============
   Typography
   =============*/
h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.ul-style {
  background-color: #fff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  margin: 0 -15px;
  margin-bottom: -18px;
  padding: 17px 0;
}

.ul-style li {
  font-size: 16px;
  line-height: 32px;
}

.ul-style li:nth-child(2) {
  border-left: 1px solid #f5f6fb;
  border-right: 1px solid #f5f6fb;
  padding: 0 20px;
}

.ul-style li:not(:nth-child(2)) {
  padding: 0 20px;
}

.ul-style a {
  color: rgba(51, 51, 51, 0.5);
}

.h5__orange-color {
  color: #f5a647;
  border: 1px dashed #f5a647;
  border-radius: 24px;
  display: inline-block;
  padding: 0 15px;
}

.h5__blue-color {
  color: #3a61f0;
  border: 1px dashed #3a61f0;
  border-radius: 24px;
  padding: 0 15px;
  display: inline-block;
}

.h5--modifier {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 15px;
}

/*=============
   Layouts
   =============*/
#header {
  padding: 16px 0;
}

#header .header__mobile--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

#header .nav__logo {
  display: flex;
  align-items: center;
}

#footer li:not(:last-child) {
  margin-bottom: 16px;
}

#footer li:nth-child(1) {
  margin-bottom: 32px;
}

#footer li a {
  color: #fff;
}

#footer .color--orange a {
  color: #f5a647;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/*=============
   Components
   =============*/
.btn__orange {
  background-color: #f5a647;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 35px;
  border-radius: 24px;
  display: inline-block;
}

.btn__orange_big {
  background-color: #f5a647;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 57px;
  border-radius: 24px;
  display: inline-block;
}

.btn__blue {
  background-color: #3a61f0;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 35px;
  border-radius: 24px;
  display: inline-block;
}

.btn__transparent {
  display: inline-block;
  color: #3a61f0;
  border-radius: 24px;
  border: 1px solid rgba(58, 97, 240, 0.3);
  padding: 15px 35px;
}

.btn__subscribed {
  display: inline-block;
  color: #3a61f0;
  border-radius: 24px;
  border: 1px solid rgba(58, 97, 240, 0.3);
  padding: 15px 35px;
  width: 100%;
}

.section-2__card {
  background: #fff;
  box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding-bottom: 34px;
}

/*=============
   Utility
   =============*/
.text-align {
  text-align: center;
}

.display-none {
  display: none;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.wrapper-black {
  background-color: #181c33;
  border-radius: 24px;
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.wrapper-white {
  background-color: #fff;
  border-radius: 24px;
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding-bottom: 32px;
}

.bg--color-grey {
  background-color: #f5f6fb;
  border-radius: 24px;
  width: 100%;
  padding-bottom: 79px;
}

.bg--color-pink {
  background-color: #fff7ed;
  border-radius: 24px;
  width: 100%;
}

.bg--card-color {
  background-color: #fff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  max-width: 270px;
  min-height: 144px;
  margin: 0 auto;
}

.card--bg--color-white {
  background-color: #fff;
  border-radius: 24px;
  width: 100%;
  padding: 29px 28px 39px 28px;
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.testimonials-bg--card-color {
  background-color: #fff;
  box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 30px 30px;
  margin: 0 -15px;
}

.bg-black-card {
  width: 100%;
  min-height: 192px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.bg-white-card {
  width: 100%;
  min-height: 192px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.img__utility {
  width: 100%;
  height: auto;
}

.image__card {
  max-height: 400px;
  max-width: 400px;
}

.img__size {
  max-width: 253px;
}

.social--icon {
  padding-bottom: 64px;
  border-bottom: 1px solid #f5f6fb;
}

.h5--text-modifier {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
}

.text-modifier {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  font-weight: 400px;
  text-transform: none;
}

.color__text--white {
  color: #fff;
}

.color__text--d-white {
  color: rgba(255, 255, 255, 0.5);
}

.color__text--black {
  color: #33333380;
  font-size: 16px;
  line-height: 32px;
}

.p__width {
  width: 120px;
}

.mg-left-negative {
  margin-left: -15px;
}

.ml--auto {
  margin-left: auto;
}

.mg-left {
  margin-left: 20px;
}

.margin--auto {
  margin: 0 auto;
}

.mg-top {
  margin-top: 0;
}

.mg-top-medium {
  margin-top: 40px;
}

.margin-left-large {
  margin-left: 280px;
}

.mg-top-large {
  margin-top: 90px;
}

.mg-bot-large {
  margin-bottom: 72px;
}

.mg-bot-extra-large {
  margin-bottom: 154px;
}

.mb--bottom {
  margin-bottom: 20px;
}

.mg-bot-medium {
  margin-bottom: 34px;
}

.mb--bottom-medium {
  margin-bottom: 50px;
}

.mb--bottom-60 {
  margin-bottom: 60px;
}

.mg-right {
  margin-right: 20px;
}

.mg-right-small {
  margin-right: 10px;
}

.mg-right-auto {
  margin-right: auto;
}

.margin-top {
  margin-top: 16px;
}

.margin-top-medium {
  margin-top: 44px;
}

.pad-top {
  padding-top: 32px;
}

.pad--top-bot-large {
  padding: 74px 0px 64px 0;
}

.pad-left {
  padding-left: 20px;
}

.pad-left-right-card {
  padding: 0 23px;
}

.pad-bot-card {
  padding-bottom: 34px;
}

.pad-bot-card-large {
  padding-bottom: 64px;
}

.pad-left-32 {
  padding-left: 32px;
}

.pad-left-103 {
  padding-left: 103px;
}

.pad-right-103 {
  padding-right: 103px;
}

.pad-right {
  padding-right: 20px;
}

.pad-left-right {
  padding: 0 20px;
}

.pad-left-right-card {
  padding: 0 23px;
}

.pad--bottom {
  padding-bottom: 20px;
}

.pad-medium-bottom {
  padding-bottom: 32px;
}

.pad-bot-large {
  padding-bottom: 45px;
}

.pad--bot-small {
  padding-bottom: 15px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.gap--81 {
  gap: 81px;
}

.faq--border-bottom {
  border-bottom: 1px solid #f3e5d4;
  width: 100%;
  max-width: 720px;
  margin-bottom: 80px;
  padding-bottom: 20px;
}

.faq--border-bottom-no-border {
  width: 100%;
  max-width: 720px;
  margin-bottom: 80px;
}

.gap-10 {
  gap: 10px;
}

.max-width {
  max-width: 980px;
}

.card--img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  margin-bottom: -2px;
}

/*=============
   Media Query
   =============*/
@media screen and (min-width: 768px) {
  #section-2 .section-2__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  #section-3 .section-3-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #section-4 .section-4--about {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #section-5 .h4-text-align {
    text-align: center;
  }
  #section-7 .testimonials-bg--card-color {
    background-color: #fff;
    box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    padding: 30px 30px;
    margin: 0 15px;
  }
  #section-8 .bg-white-card {
    width: 100%;
    min-height: 192px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 0 32px;
    margin-top: -16px;
  }
  #section-9 .section-9-mobile-app {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 0 32px;
  }
  body .wrapper-white {
    padding: 50px 32px 50px 32px;
  }
  h1 {
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
  }
  h2 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
  }
  h3 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
  }
  h4 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
  }
  h5 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
  }
  h6 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  #header .display-none {
    display: flex;
  }
  #header .desktop-view {
    display: flex;
    justify-content: space-between;
  }
  #header .header__mobile--menu {
    display: none;
  }
  #header ul {
    display: flex;
    align-items: center;
  }
  #header li:not(:last-child) {
    margin-right: 60px;
  }
  #header li a {
    color: white;
  }
  #header .btn--create--account {
    margin-top: 10px;
  }
  #header .btn-create-account {
    display: inline-block;
    color: #fff;
    border-radius: 24px;
    border: 1px solid #fff;
    padding: 15px 32px;
    margin-bottom: 10px;
  }
  #hero .order-1 {
    order: 0;
  }
  #hero .order-0 {
    order: 1;
  }
  #hero .display-none {
    display: flex;
    align-items: center;
  }
  #hero .hero-column {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 103px;
  }
  #hero h1 {
    margin-bottom: 27px;
  }
  #hero .btn__explore-services {
    margin-top: 36px;
  }
  #hero .img__ovals {
    margin: 96px 0;
  }
  #hero .hero__main-img {
    margin-top: 90px;
    margin-left: 50px;
  }
  .bg--card-color {
    background-color: #fff;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    width: 270px;
    height: 144px;
    margin-top: 76px;
  }
  #section-2 .ul-style {
    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: -18px;
    padding: 17px 0;
    max-width: 370px;
  }
  #section-2 .section-2--get-loan {
    margin-top: 225px;
    max-width: 370px;
    margin-left: 130px;
  }
  #section-2 .section-2-features {
    margin-left: 103px;
  }
  #section-2 .section-2__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  #section-2 .section-2-main-img {
    margin-top: 90px;
    padding-left: 103px;
  }
  #section-3 .section-3-credit-card {
    margin-top: 75px;
  }
  #section-3 .section-3-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 30px;
    margin-right: 50px;
  }
  #section-4 .section-4--about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-top: 75px;
  }
  #section-4 .section-4__main-img {
    margin-top: 100px;
    margin-left: 100px;
  }
  #section-7 .testimonials-bg--card-color {
    background-color: #fff;
    box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    padding: 30px 30px;
    margin: 0 15px;
  }
  #section-8 .section-8-insights {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #section-8 .btn__subscribed {
    color: #3a61f0;
    border-radius: 24px;
    border: 1px solid rgba(58, 97, 240, 0.3);
    padding: 10px 35px;
    max-width: 170px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #section-8 input {
    max-width: 370px;
    background: #ffffff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  #section-8 .btn--subscription {
    display: flex;
    flex-direction: column;
  }
  #section-8 .btn-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #section-9 .section-9-mobile-app {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding-top: 50px;
    padding: 0 100px;
  }
  #section-9 .mobile-app-p {
    padding-right: 100px;
  }
  #footer .footer-logo {
    margin-top: 0px;
  }
  #footer .social--icon {
    border-bottom: 0;
  }
  #footer .footer-closing {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.161798);
    margin-top: 0;
    margin-right: auto;
  }
  #footer .footer-terms-policy {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: auto;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */