//Button Default Size
.btn--primary {
  background-color: $COLOR_BLUE;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--success {
  background-color: $COLOR_GREEN;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--warning {
  background-color: $COLOR_ORANGE;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--error {
  background-color: $COLOR_RED;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--dark--grey {
  background-color: $COLOR_GRAY_DARK;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--medium--grey {
  background-color: $COLOR_GRAY_MEDIUM;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

.btn--light--grey {
  background-color: $COLOR_GRAY_LIGHT;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 83px;
  font-size: 16px;
}

// Button With icons

.btn--primary--btn_icons {
  background-color: $COLOR_BLUE;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--success--btn_icons {
  background-color: $COLOR_GREEN;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--warning--btn_icons {
  background-color: $COLOR_ORANGE;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--error--btn_icons {
  background-color: $COLOR_RED;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--dark--grey--btn_icons {
  background-color: $COLOR_GRAY_DARK;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--medium--grey--btn_icons {
  background-color: $COLOR_GRAY_MEDIUM;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}

.btn--light--grey--btn_icons {
  background-color: $COLOR_GRAY_LIGHT;
  color: #fff;
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 0.7em;
  height: 40px;
  width: 109px;
  font-size: 16px;
}
// Icons
