// COLORS
$COLOR_BLUE: #176bfb;
$COLOR_GREEN: #3ca455;
$COLOR_ORANGE: #e67337;
$COLOR_RED: #c84040;
$COLOR_TEXT: #110f24;
$COLOR_GRAY_DARK: #ccced0;
$COLOR_GRAY_MEDIUM: #ececee;
$COLOR_GRAY_LIGHT: #f6f6f9;
$COLOR_GRAY: #f5f6fb;

//FONTS
$MAIN_FONTS: "Lato", sans-serif;

//Mini Project Colors

$COLOR_PRIMARY: #3a61f0;
$COLOR_LIGHT_PINK: #fff7ed;
$COLOR_LIGHT_GREY: #f5f6fb;
$COLOR__LIGHT_ORANGE: #f5a647;
$COLOR_BORDER: rgba(255, 255, 255, 0.16);
$INPUT_BORDER_COLOR: rgba(218, 218, 218, 1);
$BUTTON_BORDER_COLOR: rgba(58, 97, 240, 0.3);
$BORDER_BLUE_COLOR: rgba(58, 97, 240, 50.44%);
$BORDER_ORANGE_COLOR: rgba(245, 166, 71, 0.5049);
$FONT_COLOR_DARK_GREY: rgba(50, 50, 50, 50%);
$FONT_COLOR_LIGHT_GREY: rgba(51, 51, 51, 0.5);
